src/main/mule/poke-api-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7b4b985b-f175-412a-a481-2b4a0a5b43d4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="41b6ebec-c593-4d75-ace3-8beabbecde83" basePath="/api/v2/" >
		<http:request-connection protocol="HTTPS" host="pokeapi.co" port="443" />
	</http:request-config>
	<flow name="poke-api-projectFlow" doc:id="c25ff1a7-6d2b-4ca4-9cec-c0d99c0fab0f" >
		<http:listener doc:name="Listener" doc:id="b9d49ae5-a16b-4380-8e7c-c6e6408f5f5c" config-ref="HTTP_Listener_config" path="/api"/>
		<http:request method="GET" doc:name="Request" doc:id="f21d2a33-2359-4a9e-875b-0bd6a6cdc8ee" config-ref="HTTP_Request_configuration" path='#["pokemon/$(attributes.queryParams.poke)"]'/>
		<ee:transform doc:name="Transform Message" doc:id="183f61d2-828a-4a62-b9d7-d4cbf678be28" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
