src/main/mule/poke-api-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="local-listener" doc:name="HTTP Listener config" doc:id="8ed0e133-698e-4574-8526-ead4ac71bcc0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="api-poke" doc:name="HTTP Request configuration" doc:id="e9e316c7-2318-4f15-b961-9f767dc9e171" basePath="/api/v2/" >
		<http:request-connection protocol="HTTPS" host="pokeapi.co" port="443" />
	</http:request-config>
	<flow name="poke-api-projectFlow" doc:id="f75a35d6-d5c0-43f0-be1a-756d96587f14" >
		<http:listener doc:name="Listener" doc:id="7ead93ef-7095-4082-974e-01bfb0ade4ee" config-ref="local-listener" path="/api"/>
		<http:request method="GET" doc:name="Request" doc:id="b137324c-cdf1-476a-b8e0-614ea751cd33" config-ref="api-poke" path='#["pokemon/$(attributes.queryParams.poke)"]'/>
		<ee:transform doc:name="Transform Message" doc:id="56ac3b3a-90b3-4eb8-bb2b-4a7e9c3212f2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="99d97f33-a10a-471f-97eb-364f0f146f86" type="HTTP:BAD_REQUEST">
				<set-payload value='#["Error BAD REQUEST"]' doc:name="Set Payload" doc:id="a2277f7c-1d22-41c2-81ad-b9d4187d178a" />
				<logger level="INFO" doc:name="Logger" doc:id="406b236e-7be7-4cf1-a616-a6a528acbb0d" />
			</on-error-continue>
		</error-handler>
	
</flow>

</mule>
